# File .env.example - Mau cau hinh bien moi truong
# Copy file nay thanh .env va dien thong tin thuc
PORT=3000
MSSV=21110456
HO_TEN=Nguyen Van A
DB_NAME=DB_21110456
SESSION_SECRET=mot_chuoi_bi_mat_dai_bat_ky
MONGO_URI_READ=mongodb+srv://user_read_21110456:PASS1@cluster0.xxxxx.mongodb.net/DB_21110456?retryWrites=true&w=majority
MONGO_URI_WRITE=mongodb+srv://user_write_21110456:PASS2@cluster0.xxxxx.mongodb.net/DB_21110456?retryWrites=true&w=majority
